body {
    color: #fff !important;
    background: #0a0a0a !important;
}

a {
    color: #90CAF9;
}

code {
    color: #fff;
}

pre {
    background: #212121;
    border: 1px #0a0a0a solid;
    color: #fff;
}

nav {
    background: rgba(0,0,0,0.7) !important;
    height: 64px;
}

.card-feed .card-content label {
    color: #EEEEEE !important;
}

.feed-comment-like {
    background: #616161 !important;
    color: #FFF !important;
}

.bw-text {
    color: #FFF !important;
}

.bw {
    background: #FFF !important;
}

.wb-text {
    color: #000 !important;
}

.wb {
    background: #000 !important;
}

.index-bg-color {
    background-color: #212121;
}

.side-nav li>a:hover {
    background-color: rgba(255,255,255,0.05) !important;
}

textarea {
    color: #fff !important;
}

.card, .card-panel, .collection-item, .collection  {
    background: #1e1e1e;
    color: #fff;
}

.collection.with-header .collection-header {
    background: #1e1e1e;
    color: #fff;
}

.collection.with-header .collection-item {
    padding-left: 30px;
}
.collection .collection-item {
    border-bottom: 1px solid rgba(255,255,255,0.075) !important;
    background: #1e1e1e;
    color: #fff;
}
.collection.with-header .collection-header {
    border-bottom: 1px solid rgba(255,255,255,0.075) !important;
}

.modal-footer, .modal  {
    background: #1e1e1e !important;
    color: #fff;
}

.card-reveal {
    background-color: #212121 !important;
}

.modal-footer {
    border-top: 1px solid rgba(255,255,255,0.075);
}

.btn-flat, .select-dropdown, input {
    color: #fff !important;
}

.dropdown-content li:hover, .dropdown-content li.active {
    background-color: #2b2b2b;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #FFF !important;
}

.navLink {
    cursor: pointer;
    background: rgba(33, 33, 33, 0) !important;
    color: #e5e5e5 !important;
    transition: 0.3s all;
}

.collection-item:hover {
    background: rgba(33, 33, 33, .1) !important;
}

.card .collection-item:hover {
    background: transparent !important;
}

.select-wrapper .caret {
    fill: rgba(255, 255, 255, 0.87);
}

.article-color {
    color: #e0e0e0 !important;
}

#blog-attaches {
    float: left;
    display: none;
    margin-top: 12px;
    padding-left: 8px;
    border-left: 1px #eaeaea solid;
}

#blog-preloader {
    display: none;
    width: 25px;
    height: 25px;
    margin-top: 12px;
}

.datepicker-controls svg {
    fill: #fff !important;
}

.datepicker-table td.is-today {
    color: #2196F3;
}

.datepicker-table td.is-selected, .datepicker-date-display {
    background-color: #2962FF;
    color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #fff;
}

.dropdown-content {
    background: #424242;
    color: #fff;
}

.dropdown-content a {
    color: #fff !important;
}

.dropdown-content a:hover {
    background-color: #757575 !important;
}

.collection .collection-item {
    border-bottom: 1px solid rgba(255,255,255,0.075) !important;
}

.card-info .collection-item {
    border-bottom: none !important;
}

.card-info .collection-item, .card-info.collection {
    background: transparent !important;
}

.collection .collection-item:last-child {
    border-bottom: none !important;
}

.autocomplete-content li .highlight {
    color: #d4d4d4;
}

.input-field input[type="tel"]:focus, .input-field input[type="number"]:focus, .input-field input[type="email"]:focus, .input-field input[type="password"]:focus, .input-field input[type="text"]:focus, .input-field textarea:focus {
    color: #FFF !important;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    background-color: rgba(255,255,255,0.05);
}

input[type=search]:not(.browser-default), input[type=search]:not(.browser-default):focus:not([readonly]) {
    background-color: rgba(255,255,255,0.075);
}

input[type=search]::placeholder {
    color: #ececec;
}

.divider, hr {
    background-color: rgba(255,255,255,0.075);
}

::-webkit-scrollbar-track        { background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 100%) !important; border-radius: 20px;  }
::-webkit-scrollbar-thumb        { background-color: #2f2f2f !important; -webkit-appearance: none;  border-radius:20px; }
::-webkit-scrollbar-thumb:hover  { background: linear-gradient(0deg, rgba(255,179,0,1) 12%, rgba(226,0,255,1) 50%, rgba(0,232,255,1) 100%); !important; }